body{
    background-color:#006837;
    background-color:#3B9167;
    background-color:#FFF1EB;
    background-color:#6F5E53;
    background-color:#FFFFFF;
    background-color:#8ECAAC;
    background-color:#D1F6E1;
    background-color:#EDA996;
}

.header-box a{
  background-color:#eda996;
  width:10rem;
  position:absolute;
  top:24px;
  left:0px;
  z-index:50;
  text-align:right;
  padding-top:10px;
  padding-bottom:10px;
  padding-right:3px;
  padding-left:30px;
}

.font-size a{
  font-size:25px;
}
.navbar{
  z-index:0;
  box-sizing:border-box;
  box-shadow:0 0 10 white;
}
.nav-list{
  background:#d1f6e1;
  box-shadow:0 0 10px#8ECAAC;
  margin:0%;
  padding:.5rem 0;
  display:flex;
  justify-content:flex-end;
  align-items:center;
}

.nav-item{
  list-style-type: none;
  margin:2rem;
}

.nav-item a{
  text-decoration:none;
  color:black;
}
.nav-item:nth-child(1){
  margin-right:auto;
  margin-left:2rem;
  font-weight:bolder;
  text-align:center;
}

.nav-item:nth-child(n+2):hover{
  background-color:#eda996;
  color:#FFF1EB;
}


@media only screen and (max-width:1024px){
  .nav-list{
    flex-wrap:wrap;
    flex-basis:25%;
    
  }
}
/*Need help making my name bigger than the other items*/
@media only screen and (max-width:768px){

.header-box a{
  width:100%;
  margin:0;
  padding:0;
  text-align:center;
}

  .nav-list{
    flex-wrap:wrap;
    flex-direction:column;
    flex-basis:50%;
  }
  .nav-item:nth-child(1){
    width:100%;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    background-color:#eda996;
  }
  .nav-item:nth-child(n+2){
    border-bottom:2px black solid;
    padding:2px;
    } 
  }
/*Starting a new section with new flex rows and columns*/

.flex-container{
  display:flex;
  flex-wrap:wrap;
  background-color:blue;
  justify-content:space-evenly;
}

.flex-container div{
  background-color: #f1f1f1;
  width: 30%;
  height:auto;
  margin:.5rem;
  text-align: center;
  line-height: 2rem;
  font-size: 30px;
  flex-wrap:wrap;
  justify-content:left;
}

.flex-container .About_me, .work, {
  flex-grow:0;
  text-align:center;
  align-self:left;
  border-right:right solid black 2px;
  font-size:large;
}

.flex-container .All_about_me, .picture1, .footer{
  text-align:left;
  flex-basis:63%;

}

.flex-container .blank_spot{
  background-color:none;
  visibility:hidden;
}
.flex-container .picture3, .picture2 {
  justify-content:flex-end;
}




