body{
    background-color:#006837;
    background-color:#3B9167;
    background-color:#FFF1EB;
    background-color:#6F5E53;
    background-color:#FFFFFF;
    background-color:#8ECAAC;
    background-color:#D1F6E1;
    background-color:#E3f2eb;
    background-color:rgb(0, 213, 255,.1);
}
/*Begin nav bar!*/
a.nav-link{
  padding:1rem;
  -webkit-box-shadow: 0px 10px 14px -9px rgba(255,255,255,0.75);
  -moz-box-shadow: 0px 10px 14px -9px rgba(255,255,255,0.75);
  box-shadow: 0px 6px 10px -9px rgba(255,255,255,0.75);

}
a.nav-link:hover{
  font-size:1.1rem;
  background-color:rgb(0, 213, 255);
  color:black!important;
  transition-duration:.4ms;
}

.header{
  background: rgb(0,214,255);
background: linear-gradient(203deg, rgba(0,214,255,1) 0%, rgba(0,0,0,1) 23%);
}

.profilePic:hover{
  height:120px;
  width:auto;
}

body {
	display: grid;
	place-content: center;
	margin: 0;
	min-height: 100vh
}

.profilePic {

	place-content: center;
	border: solid .75em rgba(0,0,0, .03);
	height:150px;
	box-shadow: 1px 1px 2.5px rgba(0,0,0, .2), 
							1px 1px 8.5px rgba(0,0,0, .35), 
							1px 1px 12.5px rgba(0,0,0, .5);
  background-image:url(/kmoran-developer-portfolio/Assets/images/Kim-profile-pic.jpg);
	background:   50%/ cover 
								border-box /* background-origin */
								padding-box /* background-clip */;
	color: #ffffff;
}
	
	.profilePic:before {
		position: absolute;
		z-index: -1; /* put it *behind* parent */
		/* go outside padding-box by 
		 * a border-width ($b) in every direction */
		border-top: .75em; 
    border-right: .75em;
    border-bottom: .75em; 
    border-left: .75em;
		border: inherit;
		border-color: transparent;
		background: inherit;
		background-clip: border-box;
		/* -webkit-prefixed version 
		 * still needed for 
		 * some mobile browsers  */
		-webkit-filter: blur(4.5px);
						filter: blur(4.5px);
		/* -webkit-prefixed version 
		 * still needed for 
		 * some mobile browsers */
		-webkit-clip-path: inset(0);
						clip-path: inset(0);
	}

.navbar-brand{
  padding:1rem;
  margin:0rem;
 }

 .navbar-dark .navbar-toggler {
  color: rgba(255,255,255);
  border-color: rgba(255,255,255);
 } 

/*End nav bar. 

/*Begin new section with flexbox including the images and About me, Work, and Contact Me sections*/

.flex-container{
  display:flex;
  flex-wrap:wrap;
}

.flex-container div{
  width: 30%;
  height:auto;
  margin:.5rem;
  padding:.5rem;
  text-align: center;
  line-height: 2rem;
  font-size: 30px;
  flex-wrap:wrap;
  justify-content:left;

}

.flex-container #About_me {
  flex-grow:0;
  text-align:right;
  align-self:left;
  border-right:black solid 5px;
  padding:2rem;

}

#About_me img{
  display:none;
}

.flex-container .All_about_me {
  text-align:left;
  flex-basis:63%;
  font-size:small;
}

.flex-container .myWords{
  flex-basis:63%;
  font-size:small;
  text-align:left;
}

.flex-container .profilePic


.flex-container #work{
  flex-grow:0;
  padding:2rem;
  text-align:right;
  border-right:black solid 5px;
}
.flex-container .work{
  flex-grow:0;
  padding:2rem;
  text-align:right;
  border-right:black solid 5px;
}

.flex-container div.picture1 {
  flex-basis:63%;
  position:relative;

}

.flex-container .picture1 img{
  box-sizing:border-box;
  max-width:100%;
  align-self:center;
  box-shadow:2.5px 2.5px 2.5px black;

}

.flex-container .picture2 img{
  box-sizing:border-box;
  max-width:100%;
  box-shadow:2.5px 2.5px 2.5px black;

}
/*The three picutres all have this assignment as it allows the sub-title to fit in the picture with a position relative. Also adds box shadow. */
.flex-container div.picture2{
  position:relative;
  
}

.flex-container .picture3 img{
  box-sizing:border-box;
  max-width:100%;
  box-shadow:2.5px 2.5px 2.5px black;
}

.flex-container div.picture3{
  position:relative;
}
/*Flexbox row containing Contact-me and Footer Section*/

footer{
  flex-basis:100%;
  text-align:center;
  justify-items:center;
  align-self:center;
  color:white;
}

.footer{
  background: rgb(0,214,255);
  background: linear-gradient(22deg, rgba(0,214,255,1) 0%, rgba(0,0,0,1) 23%);
}


.btn-group-vertical .btn{
  background-color:black;
  color:rgb(0, 213, 255);
  transition-duration:4ms;
  -webkit-box-shadow: 0px 10px 14px -9px rgba(255,255,255,0.75);
  -moz-box-shadow: 0px 10px 14px -9px rgba(255,255,255,0.75);
  box-shadow: 0px 6px 10px -9px rgba(255,255,255,0.75);
}
.btn-Wide .btn{
  margin-bottom:1.5rem;
  background-color:black;
  color:rgb(0, 213, 255);
  position:relative;
  -webkit-box-shadow: 0px 10px 14px -9px rgba(255,255,255,0.75);
  -moz-box-shadow: 0px 10px 14px -9px rgba(255,255,255,0.75);
  box-shadow: 0px 6px 10px -9px rgba(255,255,255,0.75);
}

.btn-Wide .btn:hover{
  background-color:rgb(0, 213, 255);
  color:black;
}

#btn-group-vertical{
  display:none;
 }

/*Media screen size laptop or tablet*/

@media only screen and (max-width:900px){

  .flex-container{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    text-align:center;
  
  }
  
  .flex-container div{
    height:auto;
    margin:.5rem;
    text-align: center;
    line-height: 2rem;
    font-size: 30px;
    flex-basis:100%;
    box-sizing:border-box;
    
  }


  .flex-container  #About_me {
    border-right:none;
    text-align:center;
  padding:.5rem;
  padding-top:1rem;
    margin-bottom:0rem;
    line-height:1rem;
  }


  .flex-container  #work {
    border-right:none;
    text-align:center;
    padding:0rem;
   
  }

 div.All_about_me{
   padding:.5rem;

 }

  .flex-container .work{
    display:none;
 
  }
  .flex-container .All_about_me{
    text-align:center;
        flex-direction:column;
   
  }

  .flex-container .myWords{
    flex-basis:100%;
    font-size:small;
    text-align:center;

  }
  
  .flex-container .profilePic{
    flex-basis:100%;
    justify-content:center;
  }

  footer button.btn{
    margin-bottom:1rem;
    background-color:rgb(0, 213, 255);
    color:black;
  }

  footer button.btn:hover{
    margin-bottom:1rem;
    background-color:rgb(0, 213, 255);
    color:black;
  }

 #btn-group-vertical{
   display:block;
  }


#btn-Wide{
    display:none;
  }

.btn-Wide .btn{
    display:none;
  }

}